html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: $text;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
